<html>
  <body>
    <h1>Tic-Tac-Toe</h1>
    <% if @game.mode == 'human' %>
      <%= '<h3>Human vs Human. Fight!</h3>' %>
        <% if @game.turn == @game.player_2 %>
          <%= '<h4>Player 2 Turn</h4>' %>
        <% else %>
          <%= '<h4>Player 1 Turn</h4>' %>
        <% end %>
    <% elsif @game.mode == 'cpu' %>
      <%= '<h3>Human vs CPU. Good luck!</h3>' %>
    <% end %>

    <% if @game.size == '3x3' %>
      <%= '<h3>3x3</h3>' %>
    <% elsif @game.size == '4x4' %>
      <%= '<h3>4x4</h3>' %>
    <% end %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#a1p").click(function(){
        $("#a1p").hide();
    });
  });
  </script>

    <table id='grid'>
      <tr>
        <td> </td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <% if @game.grid['d1'] %>
          <td>D</td>
        <% end %>
      </tr>
      <form method='post' action='/game/move' >
      <tr>
        <td>1</td>
        <td id='a1'><input type="radio" name="grid_position" id="a1p" value="A1"> <%= @game.grid['a1'] %> </td>
        <td id='b1'><input type="radio" name="grid_position" id="grid_position" value="B1"> <%= @game.grid['b1'] %> </td>
        <td id='c1'><input type="radio" name="grid_position" id="grid_position" value="C1"> <%= @game.grid['c1'] %> </td>
        <% if @game.grid['d1'] %>
          <td id='d1'><input type="radio" name="grid_position" id="grid_position" value="D1"> <%= "#{@game.grid['d1']} </td>" %>
        <% end %>
      </tr>
      <tr>
        <td>2</td>
        <td id='a2'><input type="radio" name="grid_position" id="grid_position" value="A2"> <%= @game.grid['a2'] %> </td>
        <td id='b2'><input type="radio" name="grid_position" id="grid_position" value="B2"> <%= @game.grid['b2'] %> </td>
        <td id='c2'><input type="radio" name="grid_position" id="grid_position" value="C2"> <%= @game.grid['c2'] %> </td>
        <% if @game.grid['d2'] %>
          <td id='d2'><input type="radio" name="grid_position" id="grid_position" value="D2"> <%= "#{@game.grid['d2']} </td>" %>
        <% end %>
      </tr>
      <tr>
        <td>3</td>
        <td id='a3'><input type="radio" name="grid_position" id="grid_position" value="A3"> <%= @game.grid['a3'] %> </td>
        <td id='b3'><input type="radio" name="grid_position" id="grid_position" value="B3"> <%= @game.grid['b3'] %> </td>
        <td id='c3'><input type="radio" name="grid_position" id="grid_position" value="C3"> <%= @game.grid['c3'] %> </td>
        <% if @game.grid['d3'] %>
          <td id='d3'><input type="radio" name="grid_position" id="grid_position" value="D3" <%= "#{@game.grid['d3']} </td>" %>
        <% end %>
      </tr>
      <% if @game.grid['a4'] %>
        <td>4</td>
        <td id='a4'><input type="radio" name="grid_position" id="grid_position" value="A4"> <%= @game.grid['a4'] %> </td>
        <td id='b4'><input type="radio" name="grid_position" id="grid_position" value="B4"> <%= @game.grid['b4'] %> </td>
        <td id='c4'><input type="radio" name="grid_position" id="grid_position" value="C4"> <%= @game.grid['c4'] %> </td>
        <td id='d4'><input type="radio" name="grid_position" id="grid_position" value="D4"> <%= @game.grid['d4'] %> </td>
      <% end %>
    </table>
    </br>
        <input type="submit" name="play" value="submit">
      </form>

    <%= @game.message %>
    <% if @player_move && !@player_move.empty? %>
      <%= "Your input was #{@player_move.upcase}." %>
    <% end %>
  </body>
</html>