<html>
<link rel="stylesheet" href="/css/background.css">
<style>
.center {
    text-align: center;
    border: 3px;
}
</style>
<style>
div.center {
    font-size: 150%;
}
</style>
  <body >>
  <div class="box1">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </div>
  <div class="box2">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </div>  
  <div class="box3">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  </div>
  <div class="box4">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
    <div class="center">
      <p id="try"></p>
      <h1>Tic-Tac-Toe</h1>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    $("#a1p").click(function(){
        $("#a1p").hide();
    });
  });
  </script>
  <script src="js/onclick.js"></script>

      <div class="center">
        <link rel="stylesheet" href="/css/test.css">
        <table id='grid' align="center" background="/images/board2.jpg" style="width:400px;height:500px;" border="10" bordercolor="black">
          <tr>
            <td> </td>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <% if @game.grid['d1'] %>
              <td>D</td>
            <% end %>
          </tr>
          <form method='post' action='/game/move' id="move" >
          <tr>

            <font size="2" face="Courier New" >
            <td>1</td>
            <td id='a1'><input type="hidden" name="a1" value ="<%= @game.grid['a1'] %>" >
                <% if @game.grid['a1'] == "O" %>
                    O
                  <% elsif @game.grid['a1'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="a1p1" value="A1" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['a1'] %> </td>
                <% end %>
            </font>
            <td id='b1'><input type="hidden" name="b1" value ="<%= @game.grid['b1'] %>" >
                <% if @game.grid['b1'] == "O" %>
                    O
                  <% elsif @game.grid['b1'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="b1p" value="B1" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['b1'] %> </td>
                <% end %>
            <td id='c1'><input type="hidden" name="c1" value ="<%= @game.grid['c1'] %>" >
                <% if @game.grid['c1'] == "O" %>
                    O
                  <% elsif @game.grid['c1'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="c1p" value="C1" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['c1'] %> </td>
                <% end %>
            <% if @game.grid['d1'] %>
              <td id='d1'><input type="radio" name="grid_position" id="grid_position" value="D1"> <%= "#{@game.grid['d1']} </td>" %>
            <% end %>
          </tr>
          <tr>
            <td>2</td>
            <td id='a2'><input type="hidden" name="a1" value ="<%= @game.grid['a2'] %>" >
                <% if @game.grid['a2'] == "O" %>
                    O
                  <% elsif @game.grid['a2'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="a2p" value="A2" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['a2'] %> </td>
                <% end %>
            <td id='b2'><input type="hidden" name="b2" value ="<%= @game.grid['b2'] %>" >
                <% if @game.grid['b2'] == "O" %>
                    O
                  <% elsif @game.grid['b2'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="b2p" value="B2" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['b2'] %> </td>
                <% end %>
            <td id='c2'><input type="hidden" name="c2" value ="<%= @game.grid['c2'] %>" >
                <% if @game.grid['c2'] == "O" %>
                    O
                  <% elsif @game.grid['c2'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="c2p" value="C2" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['c2'] %> </td>
                <% end %>
            <% if @game.grid['d2'] %>
              <td id='d2'><input type="radio" name="grid_position" id="grid_position" value="D2"> <%= "#{@game.grid['d2']} </td>" %>
            <% end %>
          </tr>
          <tr>
            <td>1</td>
            <td id='a3'><input type="hidden" name="a3" value ="<%= @game.grid['a3'] %>" >
                <% if @game.grid['a3'] == "O" %>
                    O
                  <% elsif @game.grid['a3'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="a3p" value="A3" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['a3'] %> </td>
                <% end %>
            <td id='b3'><input type="hidden" name="b3" value ="<%= @game.grid['b3'] %>" >
                <% if @game.grid['b3'] == "O" %>
                    O
                  <% elsif @game.grid['b3'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="b3p" value="B3" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['b3'] %> </td>
                <% end %>
            <td id='c3'><input type="hidden" name="c3" value ="<%= @game.grid['c3'] %>" >
                <% if @game.grid['c3'] == "O" %>
                    O
                  <% elsif @game.grid['c3'] == "X" %>
                    X
                <% else %>
                  <input type="submit" name="grid_position" id="c3p" value="C3" style="color: red; width:100%;height:100%;background-color: red"> <%= @game.grid['c3'] %> </td>
                <% end %>
            <% if @game.grid['d3'] %>
              <td id='d3'><input type="radio" name="grid_position" id="grid_position" value="D3" <%= "#{@game.grid['d3']} </td>" %>
            <% end %>
          </tr>
          <% if @game.grid['a4'] %>
            <td>4</td>
            <td id='a4'><input type="radio" name="grid_position" id="grid_position" value="A4"> <%= @game.grid['a4'] %> </td>
            <td id='b4'><input type="radio" name="grid_position" id="grid_position" value="B4"> <%= @game.grid['b4'] %> </td>
            <td id='c4'><input type="radio" name="grid_position" id="grid_position" value="C4"> <%= @game.grid['c4'] %> </td>
            <td id='d4'><input type="radio" name="grid_position" id="grid_position" value="D4"> <%= @game.grid['d4'] %> </td>
          <% end %>
        </table>
    </br>
      </form>
      <script>
      document.addEventListener("keyup", function(event) {
          event.preventDefault();
          if (event.keyCode === 103) {
              document.getElementById("a1p1").click();
          }
          if (event.keyCode === 104) {
            document.getElementById("b1p").click();
          }
          if (event.keyCode === 105) {
            document.getElementById("c1p").click();
          }
          if (event.keyCode === 100) {
            document.getElementById("a2p").click();
          }
          if (event.keyCode === 101) {
            document.getElementById("b2p").click();
          }
          if (event.keyCode === 102) {
            document.getElementById("c2p").click();
          }
          if (event.keyCode === 97) {
            document.getElementById("a3p").click();
          }
          if (event.keyCode === 98) {
            document.getElementById("b3p").click();
          }
          if (event.keyCode === 99) {
            document.getElementById("c3p").click();
          }
      });
      </script>
    </div>
  </body>
</html>